#extTitle {
    text-align: center;
    margin-bottom: 0;
}

div#groupDiv {
    width: 200px;
    max-height: 270px;
    overflow-y: auto;
    min-height: 50px;
}

body {
    margin: 0.5em 1em;
}

#groupTitle {
    text-align: center;
    float: none;
    min-height: 1.5em;
}

.extButton {
    background-color: rgb(241, 50, 50);
    border: none;
    color: white;
    text-align: center;
    padding: 0.75em;
    border-radius: 0.25em;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#createButton {
    background-color: rgb(19, 173, 5);
}

.extButton:hover {
    opacity: 1;
}

#cancelButton {
    float: right;
}

.centered {
    margin: auto;
}

button#clearButton {
    display: flex;
    justify-content: center;
}

.createLabel {
    margin-top: 8px;
}

#name {
    width: 100%;
}

.group {
    width: 100%;
    margin-bottom: 0.3em;
    background-color: rgb(104, 104, 104);
    border: none;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 0.25em;
    border-radius: 0.25em;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.group:hover {
    opacity: 1;
}

.alignleft {
    float: left;
    padding-left: 0.5em;
}

.alignright {
    float: right;
    padding-right: 0.5em;
}

.errorMsg {
    color: red;
}

#buttonDiv {
    margin-top: 0;
}